.table-container {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  overflow-x: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #4BBD7F;
}

th {
  padding: 12px 15px;
  text-align: left;
}
td {
  padding: 12px 35px;
  text-align: left;
}
th {
  color: white;
  font-weight: bold;
}

thead th {
  position: relative;
}

thead th select, thead th input {
  margin-left: 10px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

thead th button {
  margin-left: 10px;
  padding: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

thead th button:hover {
  background-color: #0056b3;
}

tbody tr {
  background-color: white;
  transition: background-color 0.3s;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody tr:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.erase {
 
  border: none;
  cursor: pointer;

}

.nameRow {
  display: flex;
  align-items: center;
  gap: 5px;
}

.erase:hover {
  background-color: #ff3333;
}

@media screen and (max-width: 400px) {
  .table-container {
    padding: 0;
    justify-content: center;
    width: 100%;
  }

  table {
    width: 100%;
    margin: 0; 
  }

  th, td {
    padding: 8px 5px; 
    font-size: 14px; 
  }

  thead th select, thead th input {
    margin-left: 5px;
    padding: 3px;
    font-size: 12px; 
  }

  thead th button {
    margin-left: 5px;
    padding: 5px;
    font-size: 12px; 
  }
}
